* {
  /* background-image: url(../images/square_bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-size: 20px;
}

:root {
  --primary: #ffc636;
  --secondary: #0a0b58;
}

nav .navigation {
  background-color: wheat;
  font-size: 8px;
}
li {
  list-style-type: none;
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background-color: var(--primary);
}
input,
textarea {
  background: rgba(255, 255, 255, 0.06);
  padding: 10px 16px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
  border-radius: 20px;

}
h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}
p,
a,
li {
  color: #88fff3e3;
}
h1,
h3 {
  font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}
section #portfolio {
    text-align: center;
    background-color: #0a0b58;
}
@media screen and (min-width:620px) {
    
    
}

@media screen and (min-width:960px) {
    body{
        font-size: 18px;
    }
} 

@media screen and (min-width:1200px){
       body{
        font-size: 20px;
    }
}
.projects img{
    max-width: 100%;
}
.projects{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
}

.projects a{
    text-align: center;
    background: rgba(255, 211, 212, 00.2);
    padding: 20px;
    display: grid;
}
.projects >*{
    
}

.projects a:nth-child(1){
    grid-column: 2/6;
    grid-row: 1;
}

.projects a:nth-child(2){
    grid-column: 8/12;
    grid-row: 1;
}

.projects a:nth-child(3){
    grid-column: 5/9;
    grid-row: 2;
}